<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><%=link_to "Log In", new_user_session_path %> </li>
          <li><%=link_to "Sign Up", new_user_registration_path %> </li>
        </ul>
      </div>
</div>