<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <%= link_to "ScrapingTool", craigslists_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
       
             
            <li class="divider"></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
